@model PlasticManufacturer.Domain.Entities.Common.Pellet

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel spacer-20">
    <div class="panel-heading no-padding">
        <a href="#" class="panel-expander notext fr">&nbsp;</a>
        <h2 class="clipboard">Edit Pellet </h2>
    </div>
    @using (Html.BeginForm("Edit", "Pellets", FormMethod.Post, new { id = "create" }))
    {
        <div class="panel-container">
            <div class="options">
                <ul>
                    <li>
                        @*@Html.ActionLink("Post", "Create", "", new { @class = "post" })*@
                        <a class="post" href='javascript:create.submit()'>Post</a>
                    </li>

                    <li>@Html.ActionLink("Cancel", "Index", "", new { @class = "cancel" })</li>
                </ul>
            </div>
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
