@model PlasticManufacturer.Domain.Entities.Customers.CustomerResin

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel spacer-20">
    <div class="panel-heading no-padding">
        <a href="#" class="panel-expander notext fr">&nbsp;</a>
        <h2 class="clipboard">Edit Customer Resin</h2>
    </div>

    <form action="/CustomerResins/Edit/@Model.Id" id="create" method="post">
        <div class="panel-container">
            <div class="panel-container">
                <div class="options">
                    <ul>
                        <li>
                            @*@Html.ActionLink("Post", "Create", "", new { @class = "post" })*@
                            <a class="post" href='javascript:create.submit()'>Post</a>
                        </li>

                        <li><a class="cancel" href="/CustomerResins?Length=0">Cancel</a></li>
                    </ul>
                </div>


                 @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <input data-val="true" data-val-number="O campo Id deve ser um número." data-val-required="O campo Id é obrigatório." id="Id" name="Id" type="hidden" value="@Model.Id" />

                    <div class="form-group">
                        <label class="control-label col-md-2" for="ResinType">ResinType</label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" id="ResinType" name="ResinType" type="text" value="@Model.ResinType" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="Quantidade">Quantidade</label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" data-val="true" data-val-number="O campo Quantidade deve ser um número." data-val-required="O campo Quantidade é obrigatório." id="Quantidade" name="Quantidade" type="number" value="@Model.Quantidade" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="Code">Code</label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" id="Code" name="Code" type="text" value="@Model.Code" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="Name">Name</label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" id="Name" name="Name" type="text" value="@Model.Name" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="Description">Description</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" id="Description" name="Description" type="text" value="@Model.Description" />
                        <span class="field-validation-valid text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </form>
  </div>
  


