<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>F&amp;D PLASTICS | Exellence In Color</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/css/images/favicon.ico" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" type="text/css" media="all" />


    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/facebox.css" type="text/css" media="all" />
    <!--[if IE 6]><link rel="stylesheet" href="~/css/ie6.css" type="text/css" media="all" /><![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- <script src="js/jquery.js" type="text/javascript"></script> -->
    <script src="~/js/facebox.js" type="text/javascript"></script>
    <script src="~/js/jquery-fns.js" type="text/javascript"></script>
   

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.0/js/dataTables.responsive.min.js"></script>

    <!--AngularJS-->
    <script src="~/Scripts/angular.js"></script>
    <script src="~/app/app.module.js"></script>
    <script src="~/app/controllers/CustomerController.js"></script>
    
    <!--End of the AngularJS-->

    <script type="text/javascript">
    $(function () {
        $('#ch').change(function () {
            var value = $(this).val();
            if (value == '0') {
                $('#div_dch').show();

            } else {
                $('#div_dch').hide();
            }
        });
    });
    </script>



</head>
<body>
    <div id="wrapper">
        <!-- Header -->
        <div id="header">
            <!-- Shell -->
            <div class="shell">
                <!-- Logo -->
                <h1 id="logo" class="fl notext"><a href="#">F&amp;D PLASTICS | Exellence In Color</a></h1>
                <!-- END Logo -->
                <!-- Header Right -->
                <div class="header-right fr">
                    <ul class="fr">

                        <li class="last">
                            <!-- Utility -->
                            <div class="utility">
                                <div class="blue-box">
                                    <div class="blue-box-r">
                                        <p><strong>Aulus</strong><span>|</span><a href="#" class="logout">Sair »</a></p>
                                    </div>
                                </div>
                            </div>
                            <!-- END Utility -->
                        </li>
                    </ul>
                </div>
                <!-- END Header Right -->
            </div>
            <!-- END Shell -->
        </div>
        <!-- END Header -->
        <nav id='cssmenu'>
            <div id="head-mobile"></div>
            <div class="nav-mobile"></div>
            <ul class="shell">
                <li>
                    <a href='#'>Table</a>
                    <ul>
                        <li>@Html.ActionLink("Category", "index", "Categories")</li>
                        <li>@Html.ActionLink("Carrier", "index", "Carriers")</li>
                        <li>@Html.ActionLink("Opacity", "index", "Opacities")</li>
                        <li>@Html.ActionLink("Packaging", "index", "Packagings")</li>
                        <li>@Html.ActionLink("Pellet", "index", "Pellets")</li>
                        <li>@Html.ActionLink("Employee", "create", "Employees")</li>
                        @*<li><a href='#'>Sub Item</a>
                            <ul><li><a href='#'>Item 1</a></li></ul>
                        </li>*@
                    </ul>
                </li>
                <li>
                    <a href='#'>Maintain</a>
                    <ul>
                        <li>@Html.ActionLink("Customer", "create", "Customers")</li>
                        <li>@Html.ActionLink("Customer Resin", "index", "CustomerResins")</li>
                        <li>@Html.ActionLink("Target Type", "index", "TargetTypes")</li>
                        <li>@Html.ActionLink("Defaults", "tela", "Categories")</li>
                        <li>@Html.ActionLink("Formula", "tela2", "Categories")</li>
                        <li>@Html.ActionLink("MarkUp", "tela3", "Categories")</li>
                        @*<li>@Html.ActionLink("Employee", "index", "Employees")</li>
                        <li><a href="#">Supplier</a></li>*@
                        <li>@Html.ActionLink("Raw Material", "create", "RawMaterials")</li>
                    </ul>
                </li>
                <li>
                    <a href='#'>Tasks</a>
                    <ul>
                        <li>@Html.ActionLink("Color Match Request", "create", "ColorMatchRequests")</li>
                    </ul>
                </li>
                <li>
                    <a href='#'>Reports</a>
                    <ul>
                         <li><a href='#'>none</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!--Content-->
        <div id="content">
            <!-- Shell -->
            <div class="shell">
                <!-- White Box -->
                <div class="white-box">
                    <div class="cnt">
                    @RenderBody()
                    </div>
                </div>
                <!-- END White Box -->
            </div>
            <!-- END Shell -->
        </div>
        <!-- END Content -->

        <!-- Footer -->
        <div id="footer">
            <!-- Shell -->
            <div class="shell">
                <p class="ac">&copy; Copyright 2009-2010 - All rights reserved. F&amp;D Plastics Administrative Panel - Design by <a href="#">Stories</a></p>
            </div>
            <!-- END Shell -->
        </div>
        <!-- END Footer -->

    </div>

</body>
</html>
